{% macro render_field() %}
<div id="info" >
    <p>This app can detect 14 different diseases with their bounding boxes:</p>
    <ul>
        <input type="checkbox" name="Aortic" id="Aortic" checked="checked" onclick="boxes_draw()">
        <label for="Aortic"> Aortic enlargement</label><br>
        <input type="checkbox" name="Atelectasis" id="Atelectasis" checked="checked">
        <label for="Atelectasis"> Atelectasis</label><br>
        <input type="checkbox" name="Calcification" id="Calcification" checked="checked">
        <label for="Calcification"> Calcification</label><br>
        <input type="checkbox" name="Cardiomegaly" id="Cardiomegaly" checked="checked">
        <label for="Cardiomegaly"> Cardiomegaly</label><br>
        <input type="checkbox" name="Consolidation" id="Consolidation" checked="checked">
        <label for="Consolidation"> Consolidation</label><br>
        <input type="checkbox" name="ILD" id="ILD" checked="checked">
        <label for="ILD"> ILD</label><br>
        <input type="checkbox" name="Infiltration" id="Infiltration" checked="checked">
        <label for="Infiltration"> Infiltration</label><br>
        <input type="checkbox" name="Lung" id="Lung" checked="checked">
        <label for="Lung"> Lung Opacity</label><br>
        <input type="checkbox" name="Nodule" id="Nodule" checked="checked">
        <label for="Nodule"> Nodule/Mass</label><br>
        <input type="checkbox" name="Other" id="Other" checked="checked">
        <label for="Other"> Other lesion</label><br>
        <input type="checkbox" name="effusion" id="effusion" checked="checked">
        <label for="effusion"> Pleural effusion</label><br>
        <input type="checkbox" name="thickening" id="thickening" checked="checked">
        <label for="thickening"> Pleural thickening</label><br>
        <input type="checkbox" name="Pneumothorax" id="Pneumothorax" checked="checked">
        <label for="Pneumothorax"> Pneumothorax</label><br>
        <input type="checkbox" name="fibrosis" id="fibrosis" checked="checked">
        <label for="fibrosis"> Pulmonary fibrosis</label><br>
    </ul>
    <p>The source code and its decritpion are available on <a href="https://github.com/larrygoyeau/X-Ray-disease-detection" target="_blank">Github</a></p>
</div>

{% endmacro %}