{% macro render_field() %}
<div id="info" >
    <p>This app can detect 14 different diseases with their bounding boxes:</p>
    <ul>
        <li>Aortic enlargement</li>
        <li>Atelectasis</li>
        <li>Calcification</li>
        <li>Cardiomegaly</li>
        <li>Consolidation</li>
        <li>ILD</li>
        <li>Infiltration</li>
        <li>Lung Opacity</li>
        <li>Nodule/Mass</li>
        <li>Other lesion</li>
        <li>Pleural effusion</li>
        <li>Pleural thickening</li>
        <li>Pneumothorax</li>
        <li>Pulmonary fibrosis</li>
    </ul>
    <p>The source code and its decritpion are available on <a href="https://github.com/larrygoyeau/X-Ray-disease-detection" target="_blank">Github</a></p>
</div>

{% endmacro %}