<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>X-ray disease detection</title>
    <link rel='shortcut icon' href='favicon.ico'/>

    <script language="javascript" type="text/javascript">

      function WaitDisplay() {
        target = document.getElementById("result");
        target.style.display="none";
        target = document.getElementById("info");
        target.style.display="none";
        target = document.getElementById("loading");
        target.style.display="";
        setTimeout(function() {
          document.getElementById("upload").submit();}, 100);
        }
    
    </script>

<style> 
  input[type=file] {
    display: none;
  }
  .custom-file-upload {
  background-color: #4CAF50;
  color: white;
  padding: 6px 28px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  }
  </style>

  </head>
  <body>

    <h1>X-ray disease detection</h1>
    <h3>Upload a chest X-ray</h3>
    <div>
      <form id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
        <label class="custom-file-upload">
          <input type="file" onchange="WaitDisplay();" name=file>Choose file </input>
        </label>
        <label style="padding-left: 50px;"> You can find some test chest X-ray at this link: 
            <a href="https://drive.google.com/drive/folders/1W9w3MjECfLe2bkGD5-bqyeaCxo6TImti?usp=sharing" target="_blank">Test sample</a>
        </label>
      </form>
    </div>

    <hr>
    {% from "info.html" import render_field %}

    <div id="result">
      {% if result|length > 0 and not ('File' in result['original'] or 'disease' in result['original']) %}

        {{render_field()}}

        <canvas id="myCanvas" align="left" hspace="15" vspace="15" width="600" height="600" ></canvas>

        <script>

          document.getElementById("info").style.position="absolute"
          document.getElementById("info").style.left="650px"

          original="{{ result['original'] }}"

          function boxes_draw() {
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;
            
            slider.oninput = function() {
              output.innerHTML = this.value ;
            }
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            img = document.createElement('img');
            img.src = original
            context.drawImage(img,0,0,600,600);
            var labels = "{{ result['labels'] }}"
            labels=labels.split(",")
            var boxes = "{{ result['boxes'] }}"
            boxes=boxes.split("tensor")
            var scores = "{{ result['scores'] }}"
            scores=scores.replace('[',' ').replace(']','').split(",")
            color_map={
              'Aortic enlargement': 'red',
              'Atelectasis': 'green',
              'Calcification': 'yellow',
              'Cardiomegaly': 'black',
              'Consolidation': 'brown',
              'ILD': 'blue',
              'Infiltration': 'purple',
              'Lung Opacity': 'orange',
              'Nodule/Mass': '#669999',
              'Other lesion': '#666633',
              'Pleural effusion': '#666633',
              'Pleural thickening': '#999966',
              'Pneumothorax': '#cc6699',
              'Pulmonary fibrosis': '#993333',
            }

            for (i=0; i< labels.length; i++){
              var label=labels[i].replace('[','').replace(']','').slice(5, -5).replace(';','')
              var checkBox = document.getElementById(label);
              if (checkBox.checked == true & slider.value < parseInt(scores[i])){
                context.beginPath();
                var x_min= parseInt(boxes[1+i*4].match(/(\d+)/))
                var y_min= parseInt(boxes[2+i*4].match(/(\d+)/))
                context.rect(x_min, y_min, parseInt(boxes[3+i*4].match(/(\d+)/))-x_min, parseInt(boxes[4+i*4].match(/(\d+)/))-y_min);
                context.lineWidth = 3;
                context.strokeStyle = color_map[labels[i].replace('[','').replace(']','').slice(5, -5).replace(';','')];
                context.stroke();
                context.font = "15pt serif";
                context.fillStyle = "black";
                label=label+scores[i]+'%'
                var width = context.measureText(label).width;
                context.fillRect(x_min, y_min-18, width, 24);
                context.fillStyle = "white";
                context.fillText(label, x_min, y_min)
              }
            }
          }

          window.onload = function() {
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            img = new Image();
            img.src = original
            img.onload = function(){
              ctx.drawImage(img,0,0,600,600);
              boxes_draw()
            }
          }
        </script>

      {% elif 'File extension should be:' in result['original'] %}
        <h1>{{ result['original'] }}</h1>
        {{render_field()}}
      {% elif 'No disease' in result['original'] %}
        <h1>{{ result['original'] }}</h1>
        {{render_field()}}
      {% endif %}
    </div>

    {% if result|length == 0 %}
      {{ render_field()}}
    {% endif %}

    <div id="loading" style="display:none">
        <h2>Detecting Diseases...</h2>
    </div>

  </body>
</html>