<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>X-ray disease detection</title>
    <link rel='shortcut icon' href='favicon.ico'/>

    <script language="javascript" type="text/javascript">

      function WaitDisplay() {
        target = document.getElementById("result");
        target.style.display="none";
        target = document.getElementById("loading");
        target.style.display="";
        setTimeout(function() {
          document.getElementById("upload").submit();}, 100);
        }
    
    </script>

  </head>
  <body>

    <h1>X-ray disease detection</h1>
    <h3>Upload a chest X-ray</h3>
    <div>
      <form id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
        <input type="file" onchange="WaitDisplay();" name=file>
        <label>You can find some test chest X-ray at this link: 
            <a href="https://drive.google.com/drive/folders/1-Ca-DzpA4pM3moc2_lRQNf5nRUgYVa6k?usp=sharing" target="_blank">Test sample</a></label>
      </form>
    </div>

    <hr>

    <div id="result">
      {% if result|length > 0 and not 'File extension should be:' in result['original']%}
        <div><img id="photo" src="{{ result['original'] }}" align="left" hspace="15" vspace="15" width="600" height="600"></div>
      {% elif 'File extension should be:' in result['original'] %}
        <h1>{{ result['original'] }}</h1>
      {% endif %}
    </div>
    <div id="loading" style="display:none">
        <h2>Detecting Objects...</h2>
    </div>

  </body>
</html>